<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--头部-->
<div id="header" th:fragment="head_common">
    <!--头部登录，购物车-->
    <div class="header_top">
        <!--中部-->
        <div class="header_top_center">
            <!--中部左侧-->
            <div class="h_top_left">欢迎来到码蚁商城</div>
            <!--中部右侧-->
            <div class="h_top_right">
                <a th:href="@{/loginIndex}" th:if="${session.user==null}" href="login.jsp">登录</a>
                <a th:href="@{/registIndex}" th:if="${session.user==null}" href="regist.jsp">免费注册</a>
                <span id="username"  th:if="${session.user}" th:text="'欢迎:'+${session.user.username}">请登录</span>
                <a th:href="@{/login/logout}" th:if="${session.user!=null}" href="/loginServlet?action=logout">退出</a>
                <a th:href="@{/cart/index}" href="">购物车</a>
                <a href="#" th:href="@{/order/orderIndex}" th:if="${session.user!=null}" id="orders">我的订单</a>
                <a th:href="@{/order/orderIndex}" href="userdetail.jsp" th:if="${session.user!=null}" id="userdetail">我的个人信息</a>
            </div>
        </div>
    </div>
    <!--中部搜索-->
    <div class="header_center">
        <!--版心-->
        <div class="h_c_center">
            <!--左侧logo-->
            <div class="h_c_logo">
                <img th:src="@{/images/log.png}" src="images/log.png" alt="">
            </div>
            <!--中部搜索-->
            <div class="h_c_search">
                <form action="/productServlet?action=getProductByName" method="post" id="inputForm">
                    <input type="text"   class="s_input" name="name" id="s_input">
                    <input type="submit" value="搜索" class="s_button" id="inputBtn">
                </form>
                <div class="hot">
                    <a href="#">新款连衣裙</a> <a href="#">四件套</a> <a href="#">潮流T恤</a> <a
                        href="#">时尚女鞋</a> <a href="#">短裤半身裙</a>
                </div>
            </div>
            <!--右部二维码-->
            <div class="h_c_code">
                <img th:src="@{/images/pcode.png}" src="images/pcode.png" alt="">
            </div>
        </div>
    </div>
    <!--导航-->
    <div id="nav">
        <ul id="nav_category">
            <li><a href="/">首页</a></li>
        </ul>
    </div>
</div>
<script th:fragment="head_common_js">
    $(function () {
        $("#orders").click(function () {
            $.ajax({
                url:'/orderServlet',
                data:{action:'orderIndex'},
                success:function (data) {
                    var data=$.parseJSON(data);
                    console.log(data);
                    if(data.success){
                        window.location.href="/orderServlet?action=orderList"
                    }else {
                        alert("请先登录");
                        window.location.href="login.jsp"
                    }
                }
            })
        });
    });
</script>